/*Telerik RadGrid Hay Skin*/

/*global*/

.RadGrid_Hay
{
	background:#f3f3e2;
	color:#272722;
}

.RadGrid_Hay,
.RadGrid_Hay .rgMasterTable,
.RadGrid_Hay .rgDetailTable,
.RadGrid_Hay .rgGroupPanel table,
.RadGrid_Hay .rgCommandRow table,
.RadGrid_Hay .rgEditForm table,
.GridToolTip_Hay
{
	font:11px arial,sans-serif;
}

.RadGrid_Hay,
.RadGrid_Hay .rgDetailTable
{
	border:1px solid #cac8ab;
	border-top-color:#959485;
}

.RadGrid_Hay .rgMasterTable,
.RadGrid_Hay .rgDetailTable
{
	border-collapse:separate;
}

.RadGrid_Hay .rgRow td,
.RadGrid_Hay .rgAltRow td,
.RadGrid_Hay .rgEditRow td,
.RadGrid_Hay .rgFooter td,
.RadGrid_Hay .rgFilterRow td,
.RadGrid_Hay .rgHeader,
.RadGrid_Hay th.rgResizeCol,
.RadGrid_Hay .rgGroupHeader td
{
	padding-left:4px;
	padding-right:4px;
}

.RadGrid_Hay .rgAdd,
.RadGrid_Hay .rgRefresh,
.RadGrid_Hay .rgEdit,
.RadGrid_Hay .rgDel,
.RadGrid_Hay .rgFilter,
.RadGrid_Hay .rgPagePrev,
.RadGrid_Hay .rgPageNext,
.RadGrid_Hay .rgPageFirst,
.RadGrid_Hay .rgPageLast,
.RadGrid_Hay .rgExpand,
.RadGrid_Hay .rgCollapse,
.RadGrid_Hay .rgSortAsc,
.RadGrid_Hay .rgSortDesc,
.RadGrid_Hay .rgUpdate,
.RadGrid_Hay .rgCancel
{
	width:16px;
	height:16px;
	border:0;
	padding:0;
	background-color:transparent;
	background-image:url('Grid/sprite.gif');
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

.RadGrid_Hay .rgGroupItem input,
.RadGrid_Hay .rgCommandRow img,
.RadGrid_Hay .rgHeader input,
.RadGrid_Hay .rgFilterRow img,
.RadGrid_Hay .rgPager img
{
	vertical-align:middle;
}

/*header*/

.RadGrid_Hay .rgHeaderDiv
{
	background:url('Grid/sprite.gif') 0 -1497px repeat-x;
}

.RadGrid_Hay .rgHeader,
.RadGrid_Hay th.rgResizeCol
{
	border-bottom:1px solid #41a901;
	padding-top:8px;
	padding-bottom:8px;
	background:url('Grid/sprite.gif') 0 -1497px repeat-x #47b703;
	font-size:13px;
	font-weight:normal;
	text-align:left;
}

.RadGrid_Hay .rgHeader,
.RadGrid_Hay .rgHeader a
{
	color:#fff;
	text-decoration:none;
}

/*rows*/

.RadGrid_Hay .rgRow
{
	background:#eaead7;
}

.RadGrid_Hay .rgRow td,
.RadGrid_Hay .rgAltRow td,
.RadGrid_Hay .rgEditRow td,
.RadGrid_Hay .rgFooter td
{
	padding-top:4px;
	padding-bottom:4px;
}

.RadGrid_Hay .rgRow a,
.RadGrid_Hay .rgAltRow a,
.RadGrid_Hay .rgEditRow a,
.RadGrid_Hay .rgFooter a,
.RadGrid_Hay .rgEditForm a
{
	color:#272722;
}

.RadGrid_Hay .rgRow td
{
	border-top:1px solid #eaead7;
	border-bottom:1px solid #eaead7;
}

.RadGrid_Hay .rgAltRow td
{
	border-top:1px solid #f3f3e2;
	border-bottom:1px solid #f3f3e2;
}

.RadGrid_Hay .rgSelectedRow
{
	background:url('Grid/sprite.gif') 0 -200px repeat-x #d6faba;
}

.RadGrid_Hay .rgSelectedRow td
{
	border-top:1px solid #99cb58;
	border-bottom:1px solid #99cb58;
}

.RadGrid_Hay .rgActiveRow,
.RadGrid_Hay .rgHoveredRow
{
	background:#fff;
}

.RadGrid_Hay .rgEditRow
{
	background:#ecfed8;
}

.RadGrid_Hay .rgEditRow td
{
	border-top:1px solid #99cb58;
	border-bottom:1px solid #99cb58;
}

/*footer*/

.RadGrid_Hay .rgFooter td
{
	border-top:1px solid #e7e6d9;
}

/*status*/

.RadGrid_Hay .rgPager .rgStatus
{
	width:35px;
	border-top:1px solid #cac8ab;
	border-right:1px solid #cac8ab;
	border-bottom:1px solid #e7e6d9;
	padding:3px 0 2px;
}

.RadGrid_Hay .rgPager .rgStatus div
{
	width:24px;
	height:24px;
	overflow:hidden;
	border:0;
	margin:0 auto;
	padding:0;
	background:transparent;
	text-indent:-2222px;
}

/*paging*/

.RadGrid_Hay .rgPager
{
	background:#ddddc7;
	line-height:20px;
}

.RadGrid_Hay .rgPager td
{
	padding:0;
}

.RadGrid_Hay .rgPager .rgPagerCell
{
	border-top:1px solid #cac8ab;
	border-bottom:1px solid #e7e6d9;
}

.RadGrid_Hay .rgPagePrev
{
	background-position:5px -713px;
}

.RadGrid_Hay .rgPageNext
{
	background-position:-21px -713px;
}

.RadGrid_Hay .rgPageFirst
{
	background-position:4px -683px;
}

.RadGrid_Hay .rgPageLast
{
	background-position:-20px -683px;
}

.RadGrid_Hay .rgWrap
{
	float:left;
	padding:0 10px;
	line-height:26px;
	white-space:nowrap;
}

.RadGrid_Hay .rgArrPart1
{
	padding-right:0;
	line-height:22px;
}

.RadGrid_Hay .rgArrPart2
{
	padding-left:0;
	line-height:22px;
}

.RadGrid_Hay .rgInfoPart
{
	float:right;
}

.RadGrid_Hay .rgInfoPart strong
{
	font-weight:normal;
}

.RadGrid_Hay .rgPageFirst,
.RadGrid_Hay .rgPagePrev,
.RadGrid_Hay .rgPageNext,
.RadGrid_Hay .rgPageLast
{
	height:24px;
}

.RadGrid_Hay .rgPagerButton
{
	height:22px;
	border:1px solid #959485;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	background:#cac8ab;
	color:#232323;
	font:12px/12px arial,sans-serif;
	vertical-align:middle;
	cursor:pointer;
}

.RadGrid_Hay .rgNumPart
{
	padding:2px 0;
}

.RadGrid_Hay .NumericPages .rgNumPart
{
	padding:2px 10px;
}

.RadGrid_Hay .rgNumPart a
{
	float:left;
	line-height:22px;
	margin:0;
	padding:0 5px 0 0;
	color:#666;
	text-decoration:none;
}

.RadGrid_Hay .rgNumPart span
{
	float:left;
	padding:0 0 0 5px;
}

.RadGrid_Hay .rgNumPart a:hover
{
	color:#000;
	text-decoration:underline;
}

.RadGrid_Hay .rgNumPart a:hover span
{
	cursor:pointer;
}

.RadGrid_Hay .rgNumPart a.rgCurrentPage,
.RadGrid_Hay .rgNumPart a.rgCurrentPage:hover
{
	cursor:default;
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

.RadGrid_Hay .rgNumPart a.rgCurrentPage span,
.RadGrid_Hay .rgNumPart a.rgCurrentPage:hover span
{
	cursor:default;
}

.RadGrid_Hay .NextPrevNumericAndAdvanced .rgAdvPart
{
	float:none;
	text-align:center;
}

.RadGrid_Hay .rgPager .RadSlider
{
	float:left;
	margin:2px 10px 0 0;
}

.RadGrid_Hay .rgPagerLabel,
.RadGrid_Hay .rgPager .RadComboBox,
.RadGrid_Hay .rgPager .RadInput_Hay
{
	margin:0 4px 0 0;
	vertical-align:middle;
}

.RadGrid_Hay .rgPager .RadComboBox
{
	margin-top:-1px;
}
*+html .RadGrid_Hay .rgPager .RadComboBox{margin-top:-2px;}
* html .RadGrid_Hay .rgPager .RadComboBox{margin-top:-2px;}

.RadGrid_Hay .rgPagerTextBox
{
	text-align:center;
}

/*sorting, reordering*/

.RadGrid_Hay .rgHeader .rgSortAsc
{
	background-position:-18px -598px;
	height:12px;
}

.RadGrid_Hay .rgHeader .rgSortDesc
{
	background-position:3px -597px;
	height:12px;
}

.GridReorderTop_Hay,
.GridReorderBottom_Hay
{
	width:11px !important;
	height:11px !important;
	margin-left:-5px;
	background:url('Grid/sprite.gif') 0 -751px no-repeat;
}

.GridReorderBottom_Hay
{
	background-position:-21px -751px;
}

/*filtering*/

.RadGrid_Hay .rgFilterRow td
{
	padding-top:5px;
	padding-bottom:5px;
}

.RadGrid_Hay .rgFilter
{
	background-position:2px -656px;
}

.RadGrid_Hay .rgFilterBox
{
	border:1px solid #bbb894;
	font:12px arial,sans-serif;
	color:#272722;
	vertical-align:middle;
}

/*grouping*/

.RadGrid_Hay .rgGroupPanel
{
	border-top:1px solid #bfbeb3;
	border-bottom:1px solid #696856;
	background:#979584 url('Grid/sprite.gif') 0 -997px repeat-x;
	color:#fff;
}

.RadGrid_Hay .rgGroupPanel .rgSortAsc
{
	background-position:-21px -776px;
}

.RadGrid_Hay .rgGroupPanel .rgSortDesc
{
	background-position:4px -775px;
}

.RadGrid_Hay .rgGroupPanel td
{
	border-bottom:1px solid #a2a190;
	padding:6px 5px;
}

.RadGrid_Hay .rgGroupPanel td td
{
	border:0;
	padding:0;
}

.RadGrid_Hay .rgGroupHeader
{
	background:#f9f9e9;
	color:#47b100;
	font-size:13px;
}

.RadGrid_Hay .rgGroupHeader td
{
	border-bottom:1px solid #c3c2a4;
	padding-top:3px;
	padding-bottom:3px;
}

.RadGrid_Hay .rgExpand
{
	background-position:-21px -627px;
}

.RadGrid_Hay .rgCollapse
{
	background-position:3px -626px;
}

.RadGrid_Hay .rgGroupHeader td div
{
	top:-0.6em;
}

.RadGrid_Hay .rgGroupHeader td div div
{
	top:0;
}

/*editing*/

.RadGrid_Hay .rgEditForm
{
	border-bottom:1px solid #cac8ab;
}

.RadGrid_Hay .rgUpdate
{
	background-position:3px -930px;
}

.RadGrid_Hay .rgCancel
{
	background-position:3px -962px;
}

/*hierarchy*/

.RadGrid_Hay .rgDetailTable
{
	border-right:0;
}

/*command row*/

.RadGrid_Hay .rgCommandRow
{
	background:#737262 url('Grid/sprite.gif') 0 -1197px repeat-x;
	color:#fff;
}

.RadGrid_Hay .rgCommandRow td
{
	border:0;
	border-top:1px solid #9f9e91;
	border-bottom:1px solid #4c4b3d;
	padding:0;
}

.RadGrid_Hay .rgCommandRow td td
{
	border:0;
	padding:3px 5px;
}

.RadGrid_Hay .rgCommandRow td td td
{
	padding:1px;
}

.RadGrid_Hay .rgCommandRow table
{
	border:0;
	border-bottom:1px solid #7e7d6d;
}

.RadGrid_Hay .rgCommandRow table table
{
	border:0;
}

.RadGrid_Hay .rgCommandRow a
{
	color:#fff;
	text-decoration:none;
}

.RadGrid_Hay .rgAdd
{
	background-position:0 -841px;
}

.RadGrid_Hay .rgRefresh
{
	background-position:0 -901px;
}

.RadGrid_Hay .rgEdit
{
	background-position:0 -810px;
}

.RadGrid_Hay .rgDel
{
	background-position:0 -871px;
}

/*multirow select*/

.GridRowSelector_Hay
{
	background:#555;
}

/*row drag n drop*/

.GridItemDropIndicator_Hay
{
    border-top:1px dashed #666;
}

/*tooltip*/

.GridToolTip_Hay
{
	border:1px solid #cac8ab;
	padding:3px;
	background:#eaead7;
	color:#272722;
}

/*rtl*/

.RadGridRTL_Hay .rgHeader,
.RadGridRTL_Hay th.rgResizeCol
{
	text-align:right;
}

.RadGridRTL_Hay .rgWrap
{
	float:right;
}

.RadGridRTL_Hay .rgInfoPart
{
	float:left;
}

.RadGridRTL_Hay .rgNumPart
{
	width:220px;
}

.RadGridRTL_Hay .rgNumPart a
{
	float:right;
}
