/*Telerik RadGrid Telerik Skin*/

/*global*/

.RadGrid_Telerik
{
	background:#fff;
	color:#272722;
}

.RadGrid_Telerik,
.RadGrid_Telerik .rgMasterTable,
.RadGrid_Telerik .rgDetailTable,
.RadGrid_Telerik .rgGroupPanel table,
.RadGrid_Telerik .rgCommandRow table,
.RadGrid_Telerik .rgEditRow table,
.GridToolTip_Telerik
{
	font:11px arial,sans-serif;
}

.RadGrid_Telerik,
.RadGrid_Telerik .rgDetailTable
{
	border:1px solid #828282;
}

.RadGrid_Telerik .rgMasterTable,
.RadGrid_Telerik .rgDetailTable
{
	border-collapse:separate;
}

.RadGrid_Telerik .rgRow td,
.RadGrid_Telerik .rgAltRow td,
.RadGrid_Telerik .rgEditRow td,
.RadGrid_Telerik .rgFooter td,
.RadGrid_Telerik .rgFilterRow td,
.RadGrid_Telerik .rgHeader,
.RadGrid_Telerik th.ResizeCol,
.RadGrid_Telerik .rgGroupHeader td
{
	padding-left:4px;
	padding-right:4px;
}

.RadGrid_Telerik .rgAdd,
.RadGrid_Telerik .rgRefresh,
.RadGrid_Telerik .rgEdit,
.RadGrid_Telerik .rgDel,
.RadGrid_Telerik .rgFilter,
.RadGrid_Telerik .rgPagePrev,
.RadGrid_Telerik .rgPageNext,
.RadGrid_Telerik .rgPageFirst,
.RadGrid_Telerik .rgPageLast,
.RadGrid_Telerik .rgExpand,
.RadGrid_Telerik .rgCollapse,
.RadGrid_Telerik .rgSortAsc,
.RadGrid_Telerik .rgSortDesc,
.RadGrid_Telerik .rgUpdate,
.RadGrid_Telerik .rgCancel
{
	width:16px;
	height:16px;
	border:0;
	padding:0;
	background-color:transparent;
	background-image:url('Grid/sprite.gif');
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

.RadGrid_Telerik .rgGroupItem input,
.RadGrid_Telerik .rgCommandRow img,
.RadGrid_Telerik .rgHeader input,
.RadGrid_Telerik .rgFilterRow img,
.RadGrid_Telerik .rgPager img
{
	vertical-align:middle;
}

/*header*/

.RadGrid_Telerik .rgHeaderDiv
{
	background:#fff url('Grid/sprite.gif') 0 -2914px repeat-x;
}

.RadGrid_Telerik .rgHeader,
.RadGrid_Telerik th.ResizeCol
{
	border-bottom:1px solid #828282;
	padding-top:9px;
	padding-bottom:8px;
	background:#f4f4f4 url('Grid/sprite.gif') 0 0 repeat-x;
	font-size:13px;
	text-align:left;
}

.RadGrid_Telerik .rgHeader,
.RadGrid_Telerik .rgHeader a
{
	color:#272722;
	text-decoration:none;
}

/*rows*/

.RadGrid_Telerik .rgAltRow
{
	background:#efefef;
}

.RadGrid_Telerik .rgRow td,
.RadGrid_Telerik .rgAltRow td,
.RadGrid_Telerik .rgEditRow td,
.RadGrid_Telerik .rgFooter td
{
	padding-top:3px;
	padding-bottom:4px;
}

.RadGrid_Telerik .rgRow a,
.RadGrid_Telerik .rgAltRow a,
.RadGrid_Telerik .rgEditRow a,
.RadGrid_Telerik .rgFooter a,
.RadGrid_Telerik .rgEditRow a
{
	color:#272722;
}

.RadGrid_Telerik .rgRow td
{
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}

.RadGrid_Telerik .rgAltRow td
{
	border-top:1px solid #efefef;
	border-bottom:1px solid #efefef;
}

.RadGrid_Telerik .rgSelectedRow
{
	background:#50a834 url('Grid/sprite.gif') 0 -1816px repeat-x;
}

.RadGrid_Telerik .rgSelectedRow,
.RadGrid_Telerik .rgSelectedRow a
{
	color:#fff;
}

.RadGrid_Telerik .rgActiveRow,
.RadGrid_Telerik .rgHoveredRow,
.RadGrid_Telerik .rgEditRow
.RadGrid_Telerik .rgActiveRow a,
.RadGrid_Telerik .rgHoveredRow a,
.RadGrid_Telerik .rgEditRow a
{
	color:#208600;
}

.RadGrid_Telerik .rgActiveRow
{
	background:#d3f8c7;
}

.RadGrid_Telerik .rgActiveRow td
{
	border-top:1px solid #87df6c;
	border-bottom:1px solid #87df6c;
}

.RadGrid_Telerik .rgHoveredRow,
.RadGrid_Telerik .rgEditRow
{
	background:#a3db91 url('Grid/sprite.gif') 0 -1316px repeat-x;
}

.RadGrid_Telerik .rgHoveredRow td,
.RadGrid_Telerik .rgEditRow td
{
	border-top:1px solid #87df6c;
	border-bottom:1px solid #4ba82f;
}

.RadGrid_Telerik .rgSelectedRow td
{
	border-top:1px solid #186700;
	border-bottom:1px solid #064c00;
}

/*footer*/

.RadGrid_Telerik .rgFooter td
{
	border-top:1px solid #828282;
}

/*status*/

.RadGrid_Telerik .rgPager .rgStatus
{
	width:35px;
	border-top:1px solid #828282;
	border-right:1px solid #828282;
	border-bottom:1px solid #f2f2f2;
	padding:3px 0 2px;
}

.RadGrid_Telerik .rgStatus div
{
	width:24px;
	height:24px;
	overflow:hidden;
	border:0;
	margin:0 auto;
	padding:0;
	background:transparent;
	text-indent:-2222px;
}

/*paging*/

.RadGrid_Telerik .rgPager
{
	background:#e1e1e1 url('Grid/sprite.gif') 0 -600px repeat-x;
	line-height:20px;
}

.RadGrid_Telerik .rgPager td
{
	padding:0;
}

.RadGrid_Telerik .rgPager .rgPagerCell
{
	border-top:1px solid #828282;
	border-bottom:1px solid #f2f2f2;
}

.RadGrid_Telerik .rgPagePrev
{
	background-position:5px -988px;
}

.RadGrid_Telerik .rgPageNext
{
	background-position:-21px -988px;
}

.RadGrid_Telerik .rgPageFirst
{
	background-position:4px -956px;
}

.RadGrid_Telerik .rgPageLast
{
	background-position:-20px -956px;
}

.RadGrid_Telerik .rgWrap
{
	float:left;
	padding:0 10px;
	line-height:26px;
	white-space:nowrap;
}

.RadGrid_Telerik .rgArrPart1
{
	padding-right:0;
	line-height:22px;
}

.RadGrid_Telerik .rgArrPart2
{
	padding-left:0;
	line-height:22px;
}

.RadGrid_Telerik .rgInfoPart
{
	float:right;
}

.RadGrid_Telerik .rgInfoPart strong
{
	font-weight:normal;
}

.RadGrid_Telerik .rgPageFirst,
.RadGrid_Telerik .rgPagePrev,
.RadGrid_Telerik .rgPageNext,
.RadGrid_Telerik .rgPageLast
{
	height:24px;
}

.RadGrid_Telerik .rgPagerButton
{
	height:22px;
	border:1px solid #828282;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	background:transparent;
	color:#333;
	font:12px/12px arial,sans-serif;
	vertical-align:middle;
	cursor:pointer;
}

.RadGrid_Telerik .rgNumPart
{
	padding:2px 0;
}

.RadGrid_Telerik .NumericPages .rgNumPart
{
	padding:2px 10px;
}

.RadGrid_Telerik .rgNumPart a
{
	float:left;
	line-height:22px;
	margin:0;
	padding:0 5px 0 0;
	color:#666;
	text-decoration:none;
}

.RadGrid_Telerik .rgNumPart span
{
	float:left;
	padding:0 0 0 5px;
}

.RadGrid_Telerik .rgNumPart a:hover
{
	color:#000;
	text-decoration:underline;
}

.RadGrid_Telerik .rgNumPart a:hover span
{
	cursor:pointer;
}

.RadGrid_Telerik .rgNumPart a.rgCurrentPage,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage:hover
{
	cursor:default;
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

.RadGrid_Telerik .rgNumPart a.rgCurrentPage span,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage:hover span
{
	cursor:default;
}

.RadGrid_Telerik .NextPrevNumericAndAdvanced .rgAdvPart
{
	float:none;
	text-align:center;
}

.RadGrid_Telerik .rgPager .RadSlider
{
	float:left;
	margin:2px 10px 0 0;
}

.RadGrid_Telerik .rgPagerLabel,
.RadGrid_Telerik .rgPager .RadComboBox,
.RadGrid_Telerik .rgPager .RadInput_Telerik
{
	margin:0 4px 0 0;
	vertical-align:middle;
}

.RadGrid_Telerik .rgPager .RadComboBox
{
	margin-top:-1px;
}
*+html .RadGrid_Telerik .rgPager .RadComboBox{margin-top:-2px;}
* html .RadGrid_Telerik .rgPager .RadComboBox{margin-top:-2px;}

.RadGrid_Telerik .rgPagerTextBox
{
	text-align:center;
}

/*sorting, reordering*/

.RadGrid_Telerik .rgHeader .rgSortAsc
{
	background-position:-18px -929px;
	height:12px;
}

.RadGrid_Telerik .rgHeader .rgSortDesc
{
	background-position:3px -929px;
	height:12px;
}

.GridReorderTop_Telerik,
.GridReorderBottom_Telerik
{
	width:11px !important;
	height:11px !important;
	margin-left:-5px;
	background:url('Grid/sprite.gif') 0 -900px no-repeat;
}

.GridReorderBottom_Telerik
{
	background-position:-21px -900px;
}

/*filtering*/

.RadGrid_Telerik .rgFilterRow
{
	background:#fff;
}

.RadGrid_Telerik .rgFilterRow td
{
	border-bottom:1px solid #828282;
	padding-top:3px;
	padding-bottom:5px;
}

.RadGrid_Telerik .rgFilter
{
	background-position:2px -1025px;
}

.RadGrid_Telerik .rgFilterBox
{
	border:1px solid #828282;
	font:12px arial,sans-serif;
	color:#272722;
	vertical-align:middle;
}

/*grouping*/

.RadGrid_Telerik .rgGroupPanel
{
	border-top:1px solid #b1b1b1;
	border-bottom:1px solid #545454;
	background:#7c7c7c url('Grid/sprite.gif') 0 -2316px repeat-x;
	color:#fff;
}

.RadGrid_Telerik .rgGroupPanel .rgSortAsc
{
	background-position:-21px -862px;
}

.RadGrid_Telerik .rgGroupPanel .rgSortDesc
{
	background-position:4px -861px;
}

.RadGrid_Telerik .rgGroupPanel td
{
	border-bottom:1px solid #878787;
	padding:4px 5px 6px;
}

.RadGrid_Telerik .rgGroupPanel td td
{
	border:0;
	padding:0;
}

.RadGrid_Telerik .rgGroupHeader
{
	color:#48ae28;
	font-size:12px;
}

.RadGrid_Telerik .rgGroupHeader td
{
	border-bottom:1px solid #75c45d;
	padding-top:6px;
	padding-bottom:3px;
}

.RadGrid_Telerik .rgExpand
{
	background-position:5px -1057px;
}

.RadGrid_Telerik .rgCollapse
{
	background-position:3px -1088px;
}

.RadGrid_Telerik .rgGroupHeader td div
{
	top:-0.6em;
}

.RadGrid_Telerik .rgGroupHeader td div div
{
	top:0;
}

/*editing*/

.RadGrid_Telerik .rgEditRow
{
	border-bottom:1px solid #828282;
}

.RadGrid_Telerik .rgUpdate
{
	background-position:3px -1249px;
}

.RadGrid_Telerik .rgCancel
{
	background-position:3px -1280px;
}

/*hierarchy*/

.RadGrid_Telerik .rgDetailTable
{
	border-right:0;
}

/*command row*/

.RadGrid_Telerik .rgCommandRow
{
	background:#2aa404 url('Grid/sprite.gif') 0 -2614px repeat-x;
	color:#fff;
}

.RadGrid_Telerik .rgCommandRow td
{
	border:0;
	border-top:1px solid #79c262;
	border-bottom:1px solid #186500;
	padding:0;
}

.RadGrid_Telerik .rgCommandRow td td
{
	border:0;
	padding:3px 5px;
}

.RadGrid_Telerik .rgCommandRow td td td
{
	padding:1px;
}

.RadGrid_Telerik .rgCommandRow table
{
	border:0;
	border-bottom:1px solid #47b127;
}

.RadGrid_Telerik .rgCommandRow table table
{
	border:0;
}

.RadGrid_Telerik .rgCommandRow a
{
	color:#fff;
	text-decoration:none;
}

.RadGrid_Telerik .rgAdd
{
	background-position:0 -1220px;
}

.RadGrid_Telerik .rgRefresh
{
	background-position:0 -1124px;
}

.RadGrid_Telerik .rgEdit
{
	background-position:0 -1155px;
}

.RadGrid_Telerik .rgDel
{
	background-position:0 -1188px;
}

/*multirow select*/

.GridRowSelector_Telerik
{
	background:#555;
}

/*row drag n drop*/

.GridItemDropIndicator_Telerik
{
    border-top:1px dashed #666;
}

/*tooltip*/

.GridToolTip_Telerik
{
	border:1px solid #828282;
	padding:3px;
	background:#f9f9f9;
	color:#242424;
}

/*rtl*/

.RadGridRTL_Telerik .rgHeader,
.RadGridRTL_Telerik th.ResizeCol
{
	text-align:right;
}

.RadGridRTL_Telerik .rgWrap
{
	float:right;
}

.RadGridRTL_Telerik .rgInfoPart
{
	float:left;
}

.RadGridRTL_Telerik .rgNumPart
{
	width:220px;
}

.RadGridRTL_Telerik .rgNumPart a
{
	float:right;
}
