/*Telerik RadGrid Forest Skin*/

/*global*/

.RadGrid_Forest
{
	background:#c2d197;
	color:#41442b;
}

.RadGrid_Forest,
.RadGrid_Forest *
{
	outline-color:#78884a;
}

.RadGrid_Forest,
.RadGrid_Forest .rgMasterTable,
.RadGrid_Forest .rgDetailTable,
.RadGrid_Forest .rgGroupPanel table,
.RadGrid_Forest .rgCommandRow table,
.RadGrid_Forest .rgEditForm table,
.GridToolTip_Forest
{
	font:11px "segoe ui",arial,sans-serif;
}

.RadGrid_Forest,
.RadGrid_Forest .rgDetailTable
{
	border:1px solid #78884a;
}

.RadGrid_Forest .rgMasterTable,
.RadGrid_Forest .rgDetailTable
{
	border-collapse:separate;
}

.RadGrid_Forest .rgRow td,
.RadGrid_Forest .rgAltRow td,
.RadGrid_Forest .rgEditRow td,
.RadGrid_Forest .rgFooter td
{
	padding-left:10px;
	padding-right:6px;
}

.RadGrid_Forest .rgAdd,
.RadGrid_Forest .rgRefresh,
.RadGrid_Forest .rgEdit,
.RadGrid_Forest .rgDel,
.RadGrid_Forest .rgFilter,
.RadGrid_Forest .rgPagePrev,
.RadGrid_Forest .rgPageNext,
.RadGrid_Forest .rgPageFirst,
.RadGrid_Forest .rgPageLast,
.RadGrid_Forest .rgExpand,
.RadGrid_Forest .rgCollapse,
.RadGrid_Forest .rgSortAsc,
.RadGrid_Forest .rgSortDesc,
.RadGrid_Forest .rgUpdate,
.RadGrid_Forest .rgCancel
{
	width:16px;
	height:16px;
	border:0;
	padding:0;
	background-color:transparent;
	background-image:url('Grid/sprite.gif');
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

.RadGrid_Forest .rgGroupItem input,
.RadGrid_Forest .rgCommandRow img,
.RadGrid_Forest .rgHeader input,
.RadGrid_Forest .rgFilterRow img,
.RadGrid_Forest .rgPager img
{
	vertical-align:middle;
}

/*header*/

.RadGrid_Forest .rgHeaderDiv
{
	background:#9cb16a url('Grid/sprite.gif') 0 -2015px repeat-x;
}

.RadGrid_Forest .rgHeader,
.RadGrid_Forest th.rgResizeCol
{
	border-top:1px solid #8eb980;
	border-bottom:1px solid #4a761f;
	background:#71a260 url('Grid/sprite.gif') 0 0 repeat-x;
	padding:8px 7px 11px 11px;
	text-align:left;
	font-size:1.2em;
	font-weight:normal;
}

.RadGrid_Forest .rgDetailTable .rgHeader,
.RadGrid_Forest .rgDetailTable th.rgResizeCol
{
	padding-top:2px;
	padding-bottom:4px;
	background-position:0 -5px;
}

.RadGrid_Forest .rgHeader,
.RadGrid_Forest .rgHeader a
{
	color:#e4f0c0;
	text-decoration:none;
}

/*rows*/

.RadGrid_Forest .rgRow td,
.RadGrid_Forest .rgAltRow td,
.RadGrid_Forest .rgEditRow td,
.RadGrid_Forest .rgFooter td
{
	padding-top:0.3em;
	padding-bottom:0.3em;
}

.RadGrid_Forest .rgAltRow
{
	background:#cfdbad;
}

.RadGrid_Forest .rgRow td,
.RadGrid_Forest .rgAltRow td,
.RadGrid_Forest .rgFooter td
{
	border:1px solid;
	border-color:#c2d197 #dae7b5 #c2d197 #62703b;
	border-top:0;
}

.RadGrid_Forest .rgAltRow td
{
	border-bottom-color:#cfdbad;
}

.RadGrid_Forest .rgRow>td:first-child,
.RadGrid_Forest .rgAltRow>td:first-child,
.RadGrid_Forest .rgFooter>td:first-child
{
	border-left-color:#c2d197;
}

.RadGrid_Forest .rgRow a,
.RadGrid_Forest .rgAltRow a,
.RadGrid_Forest .rgFooter a,
.RadGrid_Forest .rgEditForm a,
.RadGrid_Forest tr.rgEditRow,
.RadGrid_Forest tr.rgEditRow a
{
	color:#41442b;
}

.RadGrid_Forest .rgActiveRow
{
	background:#dd620a url('Grid/sprite.gif') 0 -1715px repeat-x;
	color:#ffe7c4;
}

.RadGrid_Forest .rgActiveRow td
{
	border-color:#841d05 #e4660d #841d05 #89250e;
}

.RadGrid_Forest .rgActiveRow>td:first-child
{
	border-left-color:#dd620a;
}

.RadGrid_Forest .rgSelectedRow
{
	background:#ba4301 url('Grid/sprite.gif') 0 -300px repeat-x;
	color:#ffe7c4;
}

.RadGrid_Forest .rgSelectedRow td,
.RadGrid_Forest .rgSelectedRow>td:first-child
{
	border-color:#841d05 #e4660d #841d05 #89250e;
}

.RadGrid_Forest .rgActiveRow a,
.RadGrid_Forest .rgSelectedRow a
{
	color:#ffe7c4;
}

.RadGrid_Forest .rgHoveredRow
{
	background:#dab551 url('Grid/sprite.gif') 0 -599px repeat-x;
}

.RadGrid_Forest .rgHoveredRow td
{
	border-color:#a16e0b #dec779 #a16e0b #ac8b4a;
}

.RadGrid_Forest .rgHoveredRow>td:first-child
{
	border-left-color:#dab551;
}

.RadGrid_Forest .rgEditRow
{
	background:#9cb16a;
}

.RadGrid_Forest .rgEditRow td
{
	border-color:#9cb16a #62703b #9cb16a #bfd090;
}

.RadGrid_Forest .rgEditRow>td:first-child
{
	border-left-color:#9cb16a;
}

/*footer*/

.RadGrid_Forest .rgFooterDiv,
.RadGrid_Forest .rgFooter
{
	background:#aabe7a;
	color:#313320;
}

.RadGrid_Forest .rgFooter td
{
	border-top:1px solid #9cb16a;
	border-right-color:#c2d197;
}

/*status*/

.RadGrid_Forest .rgPager .rgStatus
{
	width:35px;
	border-top:1px solid #78884a;
	border-right:1px solid #b6c988;
	padding:3px 0 2px;
}

.RadGrid_Forest .rgStatus div
{
	width:24px;
	height:24px;
	overflow:hidden;
	border:0;
	margin:0 auto;
	padding:0;
	background:transparent;
	text-indent:-2222px;
}

/*paging*/

.RadGrid_Forest .rgPager
{
	background:#9cb16a;
	line-height:24px;
}

.RadGrid_Forest .rgPager td
{
	padding:0;
}

.RadGrid_Forest .rgPager .rgPagerCell
{
	border-top:1px solid #78884a;
	border-left:1px solid #78884a;
}

.RadGrid_Forest .rgPagePrev
{
	background-position:4px -987px;
}

.RadGrid_Forest .rgPageNext
{
	background-position:-20px -987px;
}

.RadGrid_Forest .rgPageFirst
{
	background-position:3px -955px;
}

.RadGrid_Forest .rgPageLast
{
	background-position:-19px -955px;
}

.RadGrid_Forest .rgWrap
{
	float:left;
	padding:0 10px;
	line-height:26px;
	white-space:nowrap;
}

.RadGrid_Forest .rgArrPart1
{
	padding-right:0;
	line-height:22px;
}

.RadGrid_Forest .rgArrPart2
{
	padding-left:0;
	line-height:22px;
}

.RadGrid_Forest .rgInfoPart
{
	float:right;
}

.RadGrid_Forest .rgInfoPart strong
{
	font-weight:normal;
}

.RadGrid_Forest .rgPageFirst,
.RadGrid_Forest .rgPagePrev,
.RadGrid_Forest .rgPageNext,
.RadGrid_Forest .rgPageLast
{
	height:24px;
}

.RadGrid_Forest .rgPagerButton
{
	height:22px;
	border:1px solid #78884a;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	background:#699859;
	color:#304422;
	font:12px/12px arial,sans-serif;
	vertical-align:middle;
	cursor:pointer;
}

.RadGrid_Forest .rgNumPart
{
	padding:2px 0;
}

.RadGrid_Forest .NumericPages .rgNumPart
{
	padding:2px 10px;
}

.RadGrid_Forest .rgNumPart a
{
	float:left;
	line-height:22px;
	margin:0;
	padding:0 5px 0 0;
	color:#333;
	text-decoration:none;
}

.RadGrid_Forest .rgNumPart span
{
	float:left;
	padding:0 0 0 5px;
}

.RadGrid_Forest .rgNumPart a:hover
{
	color:#000;
	text-decoration:underline;
}

.RadGrid_Forest .rgNumPart a:hover span
{
	cursor:pointer;
}

.RadGrid_Forest .rgNumPart a.rgCurrentPage,
.RadGrid_Forest .rgNumPart a.rgCurrentPage:hover
{
	cursor:default;
	text-decoration:none;
	font-weight:bold;
	color:#000;
}

.RadGrid_Forest .rgNumPart a.rgCurrentPage span,
.RadGrid_Forest .rgNumPart a.rgCurrentPage:hover span
{
	cursor:default;
}

.RadGrid_Forest .NextPrevNumericAndAdvanced .rgAdvPart
{
	float:none;
	text-align:center;
}

.RadGrid_Forest .rgPager .RadSlider
{
	float:left;
	margin:2px 10px 0 0;
}

.RadGrid_Forest .rgPagerLabel,
.RadGrid_Forest .rgPager .RadComboBox,
.RadGrid_Forest .rgPager .RadInput_Forest
{
	margin:0 4px 0 0;
	vertical-align:middle;
}

.RadGrid_Forest .rgPager .RadComboBox
{
	margin-top:-1px;
}
*+html .RadGrid_Forest .rgPager .RadComboBox{margin-top:-2px;}
* html .RadGrid_Forest .rgPager .RadComboBox{margin-top:-2px;}

.RadGrid_Forest .rgPagerTextBox
{
	text-align:center;
}

/*sorting, reordering*/

.RadGrid_Forest .rgHeader .rgSortAsc
{
	background-position:-20px -926px;
	height:12px;
}

.RadGrid_Forest .rgHeader .rgSortDesc
{
	background-position:4px -925px;
	height:12px;
}

.GridReorderTop_Forest,
.GridReorderBottom_Forest
{
	width:11px !important;
	height:11px !important;
	margin-left:-5px;
	background:url('Grid/sprite.gif') 0 -899px no-repeat;
}

.GridReorderBottom_Forest
{
	background-position:-21px -899px;
}

/*filtering*/

.RadGrid_Forest .rgFilterRow
{
	background:#9cb16a;
}

.RadGrid_Forest .rgFilterRow td
{
	border-top:1px solid #b6c988;
	border-bottom:1px solid #62703b;
	padding:0.1em 7px 0.2em 11px;
}

.RadGrid_Forest .rgFilter
{
	background-position:2px -1024px;
}

.RadGrid_Forest .rgFilterBox
{
	border:1px solid #78884a;
	background:#f2f8e3;
	font:11px "segoe ui",arial,sans-serif;
	color:#41442b;
	vertical-align:middle;
}

/*grouping*/

.RadGrid_Forest .rgGroupPanel
{
	border-bottom:1px solid #202f11;
	background:#425335;
	color:#d3e8b1;
}

.RadGrid_Forest .rgGroupPanel table td
{
	line-height:1.6em;
}

.RadGrid_Forest .rgGroupPanel .rgSortAsc
{
	background-position:-20px -1679px;
	height:12px;
}

.RadGrid_Forest .rgGroupPanel .rgSortDesc
{
	background-position:4px -1679px;
	height:12px;
}

.RadGrid_Forest .rgGroupPanel td
{
	border:1px solid #465938;
	padding:0 6px;
}

.RadGrid_Forest .rgGroupPanel td td
{
	border:0;
	padding:0;
}

.RadGrid_Forest .rgGroupItem
{
	border:1px solid;
	border-color:#587244 #587244 #577143;
	padding:3px 0 4px 5px;
	background:#4f6340;
	color:#d3e8b1;
	font-weight:normal;
}

.RadGrid_Forest .rgGroupHeader
{
	font-size:1.1em;
	color:#762100;
}

.RadGrid_Forest .rgGroupHeader td
{
	padding:0.8em 11px 0.5em 7px;
}

.RadGrid_Forest .rgExpand
{
	background-position:5px -1054px;
}

.RadGrid_Forest .rgCollapse
{
	background-position:-21px -1053px;
}

.RadGrid_Forest .rgGroupHeader td div
{
	top:-0.6em;
}

.RadGrid_Forest .rgGroupHeader td div div
{
	top:0;
}

/*editing*/

.RadGrid_Forest .rgEditForm
{
	border-bottom:1px solid #62703b;
}

.RadGrid_Forest .rgUpdate
{
	background-position:2px -1216px;
}

.RadGrid_Forest .rgCancel
{
	background-position:2px -1248px;
}

/*hierarchy*/

.RadGrid_Forest .rgDetailTable
{
	border-right:0;
}

/*command row*/

.RadGrid_Forest .rgCommandRow
{
	background:#425335;
}

.RadGrid_Forest .rgCommandRow,
.RadGrid_Forest .rgCommandRow a
{
	color:#d3e8b1;
	text-decoration:none;
}

.RadGrid_Forest .rgCommandRow td
{
	border-bottom:1px solid #202f11;
	padding:0;
}

.RadGrid_Forest tfoot .rgCommandRow td
{
	border-bottom:0;
}

.RadGrid_Forest .rgCommandRow table
{
	border:1px solid #465938;
}

.RadGrid_Forest .rgCommandRow table td
{
	border:0;
	padding:0 6px 2px;
}

.RadGrid_Forest .rgCommandRow table td td
{
	padding:1px;
}

.RadGrid_Forest .rgAdd
{
	margin-right:4px;
	background-position:0 -1091px;
}

.RadGrid_Forest .rgRefresh
{
	margin-right:4px;
	background-position:0 -1123px;
}

.RadGrid_Forest .rgEdit
{
	background-position:1px -1154px;
}

.RadGrid_Forest .rgDel
{
	background-position:0 -1187px;
}

/*multirow select*/

.GridRowSelector_Forest
{
	background:#000;
}

/*row drag n drop*/

.GridItemDropIndicator_Forest
{
    border-top:1px dashed #78884a;
}

/*tooltip*/

.GridToolTip_Forest
{
	border:1px solid #62703b;
	padding:3px;
	background:#9cb16a;
	color:#41442b;
}

/*rtl*/

.RadGridRTL_Forest .rgHeader,
.RadGridRTL_Forest th.rgResizeCol
{
	text-align:right;
}

.RadGridRTL_Forest .rgRow td,
.RadGridRTL_Forest .rgAltRow td,
.RadGridRTL_Forest .rgEditRow td,
.RadGridRTL_Forest .rgFooter td,
.RadGridRTL_Forest .rgGroupHeader td
{
	padding-right:10px;
	padding-left:6px;
}

.RadGridRTL_Forest .rgHeader,
.RadGridRTL_Forest th.rgResizeCol,
.RadGridRTL_Forest .rgFilterRow td
{
	padding-right:11px;
	padding-left:7px;
}

.RadGridRTL_Forest .rgWrap
{
	float:right;
}

.RadGridRTL_Forest .rgInfoPart
{
	float:left;
}

.RadGridRTL_Forest .rgNumPart
{
	width:220px;
}

.RadGridRTL_Forest .rgNumPart a
{
	float:right;
}
